{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block titile %}{% endblock titile %}</title>
    <script src="https://kit.fontawesome.com/081c4004bc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="" alt="" class="logo-png">
                <h1 class="logo-title"><a style="text-decoration: none;color: black" href="/">Ai<span>Teacher</span></a></h1>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'service-page' %}" class="nav-item">Service</a></li>
                <li><a href="{% url 'contact-page' %}" class="nav-item">Contact</a></li>
                <li><a href="{% url 'about-page' %}" class="nav-item">About</a></li>
            </ul>
            <div class="button-start">
                <i  class="icon-dict fa-solid fa-magnifying-glass"></i>
                <i  class="icon-dict fa-solid fa-phone"></i>
                <a  href="{% url 'register' %}">  <i   class="icon-dict fa-solid fa-user"></i></a>
                <button>Start Now</button>
            </div>
        </div>
    </nav>

{% block content  %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}



<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Something</h1>

    <h2>Contact</h2>

    <address>
      5534 Somewhere In. The World 22193-10212<br>

      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>

        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>

        <li>
          <a href="#">Software Design</a>
        </li>

        <li>
          <a href="#">Digital Signage</a>
        </li>

        <li>
          <a href="#">Automation</a>
        </li>

        <li>
          <a href="#">Artificial Intelligence</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Mirafzal Bakhodirov</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">+998942182609</a>
        </li>

        <li>
          <a href="#">mirafzaaal2609@gmail.com</a>
        </li>

        <li>
          <a href="#">@bakhodirov114</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; Mirafzla Bakhodriov 2024 done.</p>

    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> Django </span>
    </div>
  </div>
</footer>
</body>
</html>