{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block content %}
    <div class="content-page">
        <div class="lf-c">
            <div class="body-contact">
                <h2>Contact with Us</h2>
                <p>
                    My name is Mirafzal Bakhodirov, and I am reaching out with a request regarding essay checking services. I have utilized your service for [brief description of what you have done or the services you have used].

                I am currently facing the following questions/issues: [detailed description of your questions or concerns]. I would appreciate assistance or clarification on the following matters: [list your specific questions or requests].

                My order number +998942182609 : [Order number, if you have one].

                Thank you for your attention and assistance. I look forward to your response.

                Best regards,
                Mirafzal Bakhodirov
                </p>
                <div class="feed-back">
                    <h2>Write your feed Back we will happy to read it  &#128512;</h2>
                    <p>Before you have to <a style="text-decoration: none" href="{% url 'reigster' %}">sign up</a></p>
                    <form method="post" action="{% url 'feedback' %}">
                        {% csrf_token %}
                    <input class="feedback_" placeholder="write your feed back " type="text">
                    <button class="check" type="submit">Submit</button>
                    </form>
                </div>
                <div class="buttons">
                    <a href="" class="contact-link"><i class="fa-brands fa-telegram"></i>  Telegram</a>
                    <a href="" class="contact-link"><i class="fa-brands fa-instagram"></i> Instagram</a>
                    <a href="" class="contact-link"><i class="fa-brands fa-github"></i>  GitHub</a>
                    <a href="" class="contact-link"><i class="fa-solid fa-envelope"></i>  Gmail</a>

                </div>
            </div>

        </div>
        <div class="rt-c">
            <img src="{% static 'logo/admin.png' %}" alt="">
        </div>
    </div>
    .
{% endblock content %}