{% extends 'base.html' %}
{% block title %}
 Essay
{% endblock title %}

{% block content %}
    <div class="essay-result">
      <h1>Your result &#128521;</h1>
      <div class="grade">
          <h1>Grade &#127882</h1>
          <h2 style="font-family: 'Lucida Grande', Arial, sans-serif">{{ grade }}</h2>
      </div>
    <div class="mistakes">
        <h1>Mistakes &#128269;</h1>
        <p style="font-size: 23px">{{ mistakes }}</p>
    </div>
    <div class="example">
        <h1>Example &#x1F609;</h1>
        <p style="font-size:23px">{{ example }}</p>
    </div>
    </div>
{% endblock content %}