{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}

    <div class="register-form">
        <form method="POST" action="{% url 'login' %}" class="form-group">
        {% csrf_token %}
            <h1 style="text-align: center; font-family: cursive">Login</h1>
            <input placeholder="username.." class="regist" name="username"  id="username" type="text">
            <input placeholder="password.." class="regist" name="password" id="password" type="password">
            <button type="submit" class="check">Register</button>
            <a style="margin-left: 10px; text-decoration: none" href="">Forgot your passwrod ?</a>
        </form>
    </div>
{% endblock %}