{% extends 'base.html' %}
{% load static %}
{% block title %}
    service
{% endblock title %}

{% block content %}
    <div class="cards">
        <div class="card">
            <img src="{% static 'logo/zyro-image-removebg-preview.png' %}" alt="" class="card-img">
            <div class="description">
                <h1>Checking essay </h1>
                <p>We will chek your essay and give you band for ielts test writing and show your mistakes and give you example</p>
                <span>Enjoy using</span>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'logo/s-removebg-preview.png' %}" alt="" class="card-img">
            <div class="description">
                <h1>Dictionary </h1>
                <p>We will give you more information and shows you synonym, antonym and example with using on sentences also we will show grammar structure </p>
                <span>Enjoy using   </span>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'logo/advice.png' %}" alt="" class="card-img">
            <div class="description">
                <h1>Advice </h1>
                <p>we will give you important advice for your writing or speaking topic and give some ideas</p>
                <span>Enjoy using</span>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'logo/listening.png' %}" alt="" class="card-img">
            <div class="description">
                <h1>Listening </h1>
                <p>here you can exercise your listening skills with us we will check you work and give you your scor </p>
                <span>soon!</span>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'logo/speaking.png' %}" alt="" class="card-img">
            <div class="description">
                <h1>Speaking</h1>
                <p>you can improve your speaking skill and chat with AI and give your quastion and tolk different topics</p>
                <span>soon</span>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'logo/reading.png' %}" alt="" class="card-img">
            <div class="description">
                <h1>REading</h1>
                <p>Here you can exercise your reading skill with us wi give you tasks , and we will chekc you result give you your scor and show your your mistakes </p>
                <span>soon</span>
            </div>
        </div>
    </div>
{% endblock content %}